/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/*Body style */
body {
    background: rgb(6, 46, 97) url(../images/background.jpg) center top/cover no-repeat fixed;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #efefef;
    min-height: 100vh;
    padding: 20px;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light grey background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Full viewport height */
}

header {
    text-align: center; /* Center logo/title in the header */
}

.game-container.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

form {
    width: 100%; 
}

/* Label and input field styling */
label {
    font-weight: bold;
}

input, textarea {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
}

textarea {
    resize: vertical; 
}

/* Button styles */
.my-btn, .return-btn {
    display: inline-block;
    background: #2c3e50; 
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.my-btn:hover, .return-btn:hover {
    background: #2c3e50;
}

/* Small screen adjustments */
@media (max-width: 768px) {
    .game-container {
        max-width: 90%; 
    }
}


@media screen and (max-width: 600px) {
    .app {
      padding: 5px; 
    }
  
    .btn {
      font-size: 12px; 
      text-align: center;
    }
  }

/* media query for larger screens */
@media screen and (min-width: 768px) {
    header img {
        width: 512px;
        height: 130px;
    }
    /* General list styling larger screens */
    li {
        list-style-type: none;
    }
    #instructions ol {
        list-style: none; 
        padding-left: 0;
        margin: 0;
    }

    #intro {
        font-size: 18px;
    }

    #instructions {
        font-size: 15px;
    }
}