/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/*Body style */
body {
    background: rgb(6, 46, 97) url(../images/background.jpg) center top/cover no-repeat fixed;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #16074d;
    min-height: 100vh;
    padding: 20px;
}

/* Intro styling */
#intro {
    background: #f4f4f4;
    width: 90%;
    max-width: 550px;
    margin: 20px auto 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

/* General list styling */
li {
    list-style-type: none;
}

/* Instructions styling */
#quiz-instructions, h3 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #f7f6f6;
    width: 90%;
    max-width: 550px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}
