/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/*Body style */
body {
    background-image: url('assets/images/background.jpg');
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #16074d;
    min-height: 100vh;
    padding: 20px;
}

/* Intro styling */
#intro {
    background: #ecd56f;
    width: 90%;
    max-width: 600px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}